<div class="navbar">
  <div class="container-fluid">
    <%= link_to events_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dus151ezt/image/upload/v1657990237/Kumojin-test/logo_wcgekk.png" %>
    <% end %>
    <div class="menu">
      <div class="a1">
        <%= link_to "Liste", events_path %>
      </div>
      <div class="a1">
        <%= link_to "Nouvel évènement ?", new_event_path %>
      </div>
    </div>
  </div>
</div>
